<div class="catalog-header">
  <h1 class="catalog-header__title">Щит автоматизации КНС</h1>

  <div class="catalog-description">
    <div class="catalog-description__image">
      <img
        src="../../images/catalog/item4/cat__item4-main.jpg"
        alt="Щит автоматизации КНС"
        class="catalog-description__img"
      />
    </div>

    <div class="catalog-description__text">
      <p>
        Щит автоматизации КНС ЩА-000017 разработан для перекачки канализационных
        стоков из накопительной ёмкости в централизованную систему канализации.
        Управляет и обеспечивает защиту двух насосов, тип датчиков уровня –
        поплавковые. Исполнение щита – IP65.
      </p>
      <p>
        Может устанавливаться на открытом воздухе непосредственно около КНС (щит
        снабжён системой обогрева). Для своевременного оповещения обслуживающего
        персонала имеет систему радиоканальной диспетчеризации (дальность
        распространения радиосигнала – 2000 метров при штатной антенне).
      </p>
    </div>
  </div>
</div>

<!-- Галерея будет создана через JS -->
<div class="catalog-gallery">
<img src="../../images/catalog/item4/cat__item4-1.jpg" alt="">
</div>

<div class="catalog-actions">
  <div class="catalog-actions__grid">
    <button
      class="catalog-actions__button catalog-actions__button--primary"
      data-modal="callback"
    >
      Оставить заявку
    </button>
    <a
      href="tel:+79872156000"
      class="catalog-actions__button catalog-actions__button--secondary"
    >
      Позвонить
    </a>
  </div>
</div>
