<div class="catalog-header">
  <h1 class="catalog-header__title">
    Щиты автоматизации систем вентиляции и кондиционировани
  </h1>

  <div class="catalog-description">
    <div class="catalog-description__image">
      <img
        src="../../images/catalog/item9/cat__item9-main.png"
        alt="Щиты автоматизации систем вентиляции и кондиционировани"
        class="catalog-description__img"
      />
    </div>

    <div class="catalog-description__text">
      <p>
        Предлагаем щиты автоматизации для приточных систем. Разработаем и
        изготовим щиты под любую задачу для микроклимата.
      </p>
    </div>
  </div>
</div>

<!-- Галерея будет создана через JS -->
<div class="catalog-gallery">
<img src="../../images/catalog/item9/cat__item9-main.png" alt="">
</div>

<div class="catalog-actions">
  <div class="catalog-actions__grid">
    <button
      class="catalog-actions__button catalog-actions__button--primary"
      data-modal="callback"
    >
      Оставить заявку
    </button>
    <a
      href="tel:+79872156000"
      class="catalog-actions__button catalog-actions__button--secondary"
    >
      Позвонить
    </a>
  </div>
</div>
